* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10%;
    margin: 0;
    top: 0;
    height: 5rem;
    width: 100%;
}